/* Contenedor principal */
.profile-container {
  max-width: 600px;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #999;
  background: #f9f9f9;
}

/* Encabezado de perfil */
.profile-header {
  display: flex; /* Habilita el uso de flexbox */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos: el h1 a la izquierda y el botón a la derecha */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
  padding-bottom: 2em;
}

.profile-header h1 {
  flex: 1; /* Toma todo el espacio disponible, haciendo que el h1 se quede centrado */
  text-align: center; /* Centra el texto del h1 */
  margin: 0; /* Elimina márgenes por defecto */
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  left: 1em;
}

/* Botón personalizado */
app-custom-button {
  position: fixed;
  top: 25px;
  right: 25px;
  /* z-index: 999; */
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left; /* Asegura que los elementos dentro no estén centrados */
}

label {
  display: block;
  margin: 0.5em 0 0 1em;
  font-weight: 500;
}

/* Inputs, textareas y botones */
input,
textarea,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Inputs de solo lectura */
input[readonly] {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

/* Inputs interactivos */
input:not([readonly]) {
  background-color: #fff;
  border: 1px solid #007bff;
}

/* Mensajes de error */
.text-danger {
  color: #e74c3c;
  font-size: 0.875em;
}

/* Grupo de inputs con botones */
.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1; /* Permite que el input ocupe todo el espacio disponible */
}

.input-group button {
  width: 85px; /* Define un ancho fijo para el botón */
}

/* Estilo de los botones generales */
button {
  background-color: var(--2nd-color);
  color: white;
  font-weight: 300;
  cursor: pointer;
}

button:disabled {
  background-color: var(--2nd-color);
  cursor: not-allowed;
}

/* Experiencia */
.display-flex-space-between {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  align-items: center; /* Asegura que estén alineados verticalmente */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.btn-auto-width {
  width: auto; /* Asegura que el botón tenga el tamaño del contenido */
  padding: 0.5em 1em; /* Da un buen aspecto al botón */
  background: var(--primary-color);
}

.line {
  border: #999 1px solid;
  margin: 20px 100px;
}

/* Filas y columnas en la sección de experiencia */
.form-row {
  display: flex; /* Coloca los elementos en una fila horizontal */
  gap: 1em; /* Añade espacio entre las columnas */
  align-items: center; /* Alinea verticalmente los elementos */
}

.quarter-width {
  flex: 1; /* Ocupa 1 parte del espacio disponible */
}

.three-quarters-width {
  flex: 3; /* Ocupa 3 partes del espacio disponible */
}

.form-control {
  width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
}

textarea {
  height: 150px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  gap: 2em;
}

.delete-btn {
  background: var(--danger-color);
  color: var(--text-color);
  font-weight: 500;
}

/* Foto de perfil */
.profile-picture-preview {
  max-width: 100%;
  margin-top: 10px;
}

input#phone {
  letter-spacing: 0.1em;
}

input[type="email"] {
  text-transform: lowercase;
}

.invalid-field {
  border: 1px solid #e74c3c !important;
}