<div class="profile-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- Formación Académica -->
    <div class="form-group">
      <div class="display-flex-space-between">
        <label for="academic-formation">Formación Académica(s):</label>
        <button type="button" class="btn btn-success btn-auto-width" id="academic-formation-btn" 
          (click)="addAcademicFormation()">
          Agregar Formación
        </button>
      </div>

      <div class="line"></div>

      <div formArrayName="academicFormation">
        <div *ngFor="let formation of academicFormationArray.controls; let i = index" 
             [formGroupName]="i" 
             class="academic-formation-group">
          <div class="form-row">
            <!-- Año -->
            <div class="form-group quarter-width">
              <label for="year">Año:</label>
              <input type="text" id="year" formControlName="year" 
                     [readonly]="!editableFields['academicFormation']"
                     class="form-control" />
            </div>
            <!-- Institución -->
            <div class="form-group three-quarters-width">
              <label for="institution">Institución/Universidad:</label>
              <input type="text" id="institution" formControlName="institution" 
                     [readonly]="!editableFields['academicFormation']"
                     class="form-control" />
            </div>
          </div>

          <!-- Título / Grado -->
          <div class="form-group">
            <label for="degree">Título/Grado:</label>
            <input type="text" id="degree" formControlName="degree" 
                   [readonly]="!editableFields['academicFormation']"
                   class="form-control" />
          </div>

          <!-- Botones -->
          <div class="button-row">
            <button type="button" class="btn btn-danger delete-btn" 
                    (click)="confirmDeleteAcademicFormation(i)">
              Eliminar
            </button>

            <button type="button" class="btn btn-secondary" 
                    (click)="toggleEdit('academicFormation')">
              {{ editableFields["academicFormation"] ? "Guardar" : "Editar" }}
            </button>
          </div>

          <div class="line"></div>
        </div>
      </div>
    </div>
  </form>
</div>