<div class="info-container" #infoContainer>
  <header class="info-header">
    <button class="back-button" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h3><i class="fas fa-id-card"></i><span>Datos de Contacto & Personales</span></h3>
  </header>

  <section id="main-section">
    <div class="info-card green">
      <div class="info-header">
        <i class="fas fa-id-card"></i>
        <h4>¿Qué datos personales incluir en tu CV?</h4>
      </div>
      <ul class="info-list">
        <li>
          <span>
            <i class="fas fa-user"></i>
            <strong>Nombre completo:</strong>Tu nombre tal como deseas que te
            conozcan profesionalmente.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-map-marker-alt"></i>
            <strong>Ubicación:</strong>Ciudad y país. La dirección exacta no es
            necesaria.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-envelope"></i>
            <strong>Email profesional:</strong>Evita correos informales como
            <span>chico_fiesta&#64;...".</span> 
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-phone-alt"></i>
            <strong>Teléfono:</strong>Incluye código de área si aplica.
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-info-circle"></i>
            <strong>Opcionales:</strong>Edad, nacionalidad o estado civil (si lo
            requiere el país o sector).
          </span>
        </li>
        <li>
          <span>
            <i class="fas fa-ban"></i>
            <strong>Evita:</strong>Número de documento, dirección completa,
            creencias, fotos familiares.
          </span>
        </li>
      </ul>
    </div>
  </section>
</div>
