.cv-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.1rem;
    font-size: 0.9rem;
    font-weight: 500;
    background: white;
    height: 40px;
  }
  
  .title {
    font-weight: 500;
    margin-right: 0.5rem;
  }
  
  .cv-button {
    width: 90px;
    padding: 8px 0;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;

  }
  
  .cv-button.canvas {
    border-radius: 8px 0 0 8px;
    background: linear-gradient(
        90deg,
        var(--clr-red) 0%,
        var(--clr-purple-dark) 100%
    );
  }
  
  .cv-button.ats {
    border-radius: 0 8px 8px 0;
    background: linear-gradient(
        90deg,
        var(--clr-purple-dark) 0%,
        var(--clr-blue) 100%
    );
  }
  
  .cv-button:hover {
    opacity: 0.9;
    transform: translateY(-15px);
  }